<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- Footer -->
<footer th:fragment="footer" class="page-footer font-small pt-4 bg-light mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-10 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Gestion garage</h5>
        <p>Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>

        <ul class="list-unstyled">
          <li>
            <p>garagepoefr@gmail.com</p>
          </li>
          <li>
            <p>+33102030405</p>
          </li>
          <li>
            <a href="#!">www.garagepoefr.fr</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->	

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: DTA Version 0.1 Application Web Gestion de Garage</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

 </body>