<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="load">
<title th:text="'GESTION DE GARAGE'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="icon" th:href="@{/img/logo.jpg}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</head>