<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="row">
		
			<div class="col-12">

			
				<div class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
				<div class="container">
					
				<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">
				<img th:src="@{/img/logo.jpg}" class="logo" th:href="@{/}" />
				 </a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		    </button>
			<div class="collapse navbar-collapse" id="navbarNav">
			 
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Entretiens Véhicules </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/afficherCreerTache}">Gestion Tâches</a>
							<a class="dropdown-item" href="#" th:href="@{/fiches}">Gestion Fiches</a>
							<a class="dropdown-item" href="#" th:href="@{/afficherPiecesUtilisees}">Pièces utilisées</a>
					</div></li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Ventes Véhicules </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/}">Creation Devis</a>
							<a class="dropdown-item" href="#" th:href="@{/}">Validation Devis</a>

					</div></li>						

					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Gestion Utilisateurs </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/afficherCreerClient}"> Gestion Clients</a> 
							<div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="#" th:href="@{/users}"> Gestion Personnel</a>
						</div></li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Stocks </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/afficherCreerPiece}"> Stock pièces</a> 
						    <a class="dropdown-item" href="#" th:href="@{/afficherCreerVehicule}"> Stock véhicules</a>
						    <div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" th:href="@{/afficherCreerFiche}">Commande Véhicule</a>
							<a class="dropdown-item" href="#" th:href="@{/afficherCreerCommandePiece}">Commande Pièces</a>


						</div></li>
							</ul>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>