<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <img src="../assets/logo.jpg" class="img-fluid" alt="Responsive image"> -->
    <a class="navbar-brand mt-2" routerLink="/">Gestion de garage</a>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- Modifier ce lien afin qu'il soit gérer par le router d'Angular -->

            <li class="nav-item">
                <a class="nav-link" routerLink="/taches" routerLinkActive="active">Liste des taches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/vehicule" routerLinkActive="active">Parc Auto</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/devis" routerLinkActive="active">Création devis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/commandeVeh" routerLinkActive="active">Commande de véhicules</a>
            </li>
            <li *ngIf="login">
            	<p class="nav-link">Connecté en tant que {{ login }}</p>
            </li>

        </ul>       
        <span *ngIf="login" class="nav-link btn btn-outline-danger" (click)="logout()">Deconnexion</span>
        <a *ngIf="!login" class="btn btn-outline-success" routerLink="/login" routerLinkActive="activeLink">Connexion</a>
        
    </div>
</nav>