<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Title -->
        <h2 class="card-title text-center h4 pb-2 mt-2"><strong>Gestion de garage</strong></h2>

        <h4 class="card-text text-center">
          Vivez la meilleure expérience sur notre application tablette
        </h4>
        <hr/>
        <img
          src="../assets/home.jpeg"
          class="img-fluid mx-auto d-block"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</body>
