<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="Fiches"></title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th th:text="Id"></th>
				<th th:text="Creation"></th>
				<th th:text="Auteur"></th>
				<th th:text="Cloture"></th>
				<th th:text="Etat"></th>
				<th th:text="Priorit&eecute"></th>
				<th th:text="Client"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="f : ${listefiches}">
				<td><a href="./modifierFiche/${f.id}" th:text="${f.id}"></a></td>
				<td th:text="${f.dateCreation}"></td>
				<td th:text="${f.user.nom}"></td>
				<td th:text="${f.dateCloture}"></td>
				<td th:text="${f.etat}"></td>
				<td th:text="${f.priorite.libelle}"></td>
				<td th:text="${f.client.nom}"></td>
				<td><a href="./supprimerFiche/${f.id}" th:text="${Supprimer}"></a></td>
			</tr>
		</tbody>
	</table>
	<a href="./creerFiche" th:text="Nouveau"></a>
</body>
</html>