<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<meta charset="UTF-8">
<title th:text="Fiches"></title>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div class="custom-control custom-checkbox mr-sm-2">
		        <input type="checkbox" class="custom-control-input" id="afficherCacherFichesCloses" checked>
		        <label class="custom-control-label" for="afficherCacherFichesCloses">Cacher les fiches closes</label>
		</div>

		<table class="table table-hover table-wrapper-scroll" id="tableFiches">
			<thead>
				<tr>
					<th th:text="Creation"></th>
					<th th:text="Auteur"></th>
					<th th:text="Cloture"></th>
					<th th:text="Priorite"></th>
					<th th:text="Client"></th>
					<th th:text="'Prix TTC'"></th>
					<th th:text="Description"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${listefiches}" th:classappend="${(f.etat ? 'table-secondary' : 'table-light') + ' ' + (f.etat ? 'ficheClose' : '')}">
					<td th:text="${f.dateCreation}"></td>
					<td th:text="${f.user.login}"></td>
					<td th:text="${f.dateCloture}"></td>
					<td th:text="${f.priorite.libelle}"></td>
					<td th:text="${f.client.name + ' ' + f.client.firstname}"></td>
					<td th:text="${f.prix+(f.prix*f.tva)}"></td>
					<td th:text="${f.description}"></td>
					<td><a th:unless="${f.etat}" class="btn btn-outline-secondary"
						th:href="'/fiches/'+${f.id}" th:text="Modif"></a> <a
						th:unless="${f.etat}" class="btn btn-outline-danger"
						th:href="'/clotureFiche/'+${f.id}" th:text="Cloturer"></a>

						<h5>
							<span th:if="${f.etat}" th:text="Clôt"
								class="badge badge-pill badge-secondary"></span>
						</h5></td>
				</tr>
			</tbody>
		</table>

		<form th:object="${form}" action="#" th:action="fiches" method="post"
			class="border p-4 m-2">
			<h3 th:text="'Formulaire d\'ajout'"></h3>

			<div th:each="e : ${errors}"
				class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${e.defaultMessage}"></span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<label th:text="Description"></label>
			<textarea name="description" placeholder="Description"
				class="form-control" th:text="${description}"></textarea>

			<label th:text="Priorité"></label> <select name="priorite"
				class="form-control" required>
				<option value="" th:text="Priorité" selected hidden=true />
				<option th:each="p : ${listPriorites}" th:value="${p.id}"
					th:text="${p.libelle}" th:selected="${prio} == ${p.id}" />
			</select> <label th:text="Client"></label> <select name="client" required
				class="form-control">
				<option value="" selected hidden=true th:text="Client" />
				<option th:each="c : ${listClients}" th:value="${c.id}"
					th:text="${c.name}" th:selected="${client} == ${c.id}" />
			</select>

				<div class="form-group">
					<label th:text="'Prix HT'"></label> <input name="prix"
						type="number" th:value="${prix==null ? 0 : prix}" step="0.01"
						class="form-control" required />
				</div>

			<button type="submit" class="btn btn-outline-success"
				th:text="Valider"></button>
		</form>


	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2020
		DTAApplication Web Gestion de Garage</div>
</body>

<script>
	$("#afficherCacherFichesCloses").change(function() {
		var self = this;
		$("#tableFiches tr.ficheClose").toggle(!self.checked);
	}).change();
</script>
</html>