<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Modifier Fiche'"></title>
</head>
<body>
<form th:object="${form}" action="#" th:action="'../validModifFiche'" method="post">
	<input type="hidden" th:value="${id}" name="id"/>
	<table>
		<tr>
			<td th:text="Description"></td>
			<td>
				<textarea name="description" th:text="${description}"></textarea>
			</td>
		</tr>
		<tr>
			<td th:text="Priorite"></td>
			<td>
				<select name="priorite">
					<option th:each="p : ${listPriorites}" th:value="${p.id}" th:text="${p.libelle}" />
				</select>
			</td>
		</tr>
		<tr>
			<td th:text="Cloturer"></td>
			<td>
				<input type="checkbox" name="cloturer"/>
			</td>
		</tr>
	</table>
	<button type="submit" th:text="Valider"></button>
</form>
</body>
</html>