<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<meta charset="UTF-8">
<title th:text="'Modifier Fiche'"></title>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:object="${form}" action="#" th:action="'../fiches/'+${id}"
			method="post" class="container">
			<h3 th:text="'Formulaire de modification'"></h3>

			<div th:each="e : ${errors}"
				class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${e.defaultMessage}"></span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<input type="hidden" th:value="${id}" name="id" /> <input
				type="hidden" th:value="${client}" name="client" /> <label
				th:text="Description"></label>
			<textarea name="description"
				th:text="${newdescription==null ? description : newdescription}"
				class="form-control"></textarea>

			<label th:text="Priorité"></label> <select name="priorite"
				class="form-control" required>
				<option value="" selected hidden=true th:text="Priorite" />
				<option th:each="p : ${listPriorites}" th:value="${p.id}"
					th:text="${p.libelle}"
					th:selected="(${newprio != null} and ${newprio} == ${p.id}) or (${newprio == null} and ${priorite} == ${p.id})" />
			</select>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label th:text="'Prix HT'"></label> <input name="prix"
						type="number" th:value="${prix}" step="0.01" class="form-control" required />
				</div>
				<div class="form-group col-md-6">
					<label th:text="TVA"></label> <input name="tva" type="number"
						th:value="${tva}" step="0.01" class="form-control" disabled />
				</div>
			</div>

			<div class="form-check">
				<input type="checkbox" name="cloturer" id="cloture"
					class="form-check-input" /> <label th:text="Cloturer" for="cloture"
					class="form-check-label"></label>
			</div>

			<a th:href="@{/fiches}" th:text="Retour"
				class="btn btn-outline-secondary"></a>
			<button type="submit" th:text="Valider"
				class="btn btn-outline-success"></button>
		</form>

	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2020 DTA
		Application Web Gestion de Garage</div>
</body>
</html>