<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<title th:text="'Gestion De Mon Ecole'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>


    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 p-2">
          <div class="card-body">
			<div class = "d-flex flex-column align-items-center" >
            <img th:src="@{/img/login.png}" class="login" /> 
            
            <h1 class="card-title ">Login</h1></div>
			</div>
			<hr class="mt-2">
            <div th:if="${msg != null}">
            <span class="badge badge-danger" th:text="${msg}"></span>
            </div>
            
            <form name="loginForm" action="login" method="POST" class="form-signin">
              <div class="form-label-group">
                <label>Nom utilisateur</label>
                <input type="text" name="username" class="form-control" required autofocus>

              </div>

              <div class="form-label-group">
                <label>Mot de passe</label>
                <input type="password" name="password" class="form-control mb-4" required>


              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se Connecter</button>
              
               <input class="btn btn-lg btn-primary btn-block text-uppercase" type="hidden" name="${__csrf.parameterName}" value="${__csrf.token}"></input>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<div th:replace="fragments/footer :: footer">&copy; 2020 DTA
		Application Web Gestion de Garage</div>
</body>
</html>