<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerload :: load">
<meta charset="UTF-8">
<title th:text="Users"></title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
	
	<table class="table">
		<thead>
			<tr >
				<th th:text="Nom" ></th>
				<th th:text="Prenom" ></th>
				<th th:text="Login" ></th>
				<th th:text="Profils" class="col-lg-4"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u : ${users}">
				<td th:text=${u.lastname} ></td>
				<td th:text=${u.firstname} ></td>
				<td th:text=${u.login} ></td>
				<td class="col-lg-4">
					<a th:each="p : ${u.profils}" th:href="'/profils/'+${p.id}" th:text="${p.name}" class="badge badge-secondary mr-1"></a>
				</td>
				<td>
					<a class="btn btn-outline-secondary"
						th:href="'/users/'+${u.id}" th:text="Modif"></a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div th:text="${model}"></div>
	
	<form th:object="${form}" action="#" th:action="users" method="post" class="border p-4 m-2">
			<h3 th:text="'Formulaire d\'ajout'"></h3>

			<div th:each="e : ${errors}" class="alert alert-danger alert-dismissible fade show" role="alert" >
				<span th:text="${e.defaultMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="form-group">
				<label th:text="Nom"></label>
				<input type="text" name="nom" class="form-control" th:value="${nom}" required />
			</div>
			
			<div class="form-group">
				<label th:text="Prenom"></label>
				<input type="text" name="prenom" class="form-control" th:value="${prenom}" required />
			</div>
			
			<div class="form-group">
				<label th:text="Login"></label>
				<input type="text" name="login" class="form-control" th:value="${login}" required />
			</div>
			
			<div class="form-group">
				<label th:text="'Mot de passe'"></label>
				<input type="password" name="pass1" class="form-control" required />
			</div>
			
			<div class="form-group">
				<label th:text="'Repter le mot de passe'"></label>
				<input type="password" name="pass2" class="form-control" required />
			</div>
			
			<div class="form-group">
				<label th:text="Profils"></label>
				<div th:each="p : ${profils}" class="form-check">
					<input type="checkbox" th:name="'profils['+${p.id-1}+']'" th:id="'profil'+${p.id}"
					class="form-check-input"  />
					<label th:text="${p.name}" th:for="'profil'+${p.id}" class="form-check-label"></label>
				</div>
			</div>

			<button type="submit" class="btn btn-outline-success" th:text="Valider"></button>
	</form>
	
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
