<div class="card">
    <div *ngIf="hasImage"><img src="assets/images/{{vehicule.modele|lowercase}}.jpg" class="card-img-top" [alt]=""></div>
    <div *ngIf="!hasImage"><img src="assets/images/default.jpg" class="card-img-top" [alt]=""></div>
    <div class="card-body">
        <h4 class="card-title">{{vehicule.modele}}</h4>
        <hr class="mt-2">
        <p class="card-text flex-wrap"><strong>Prix:</strong> {{vehicule.prixHT}}€</p>
        <p class="card-text align-content-end flex-wrap"><strong>Quantité:</strong> {{vehicule.qte}}</p>

    </div>
</div>

